@use '@/styles/abstracts' as *;

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(91, 112, 131, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.container {
  background: $color-bg;
  border-radius: $radius-xl;
  width: 100%;
  max-width: 60rem;
  max-height: 90vh;
  overflow-y: auto;
  padding: $spacing-lg;
}
