@use '@/styles/abstracts' as *;


// ── Footer ───────────────────────────────
.footer {
  @include flex-center;
  padding: $spacing-md $spacing-xl;
}

.footerNav {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-xs $spacing-md;
}

.footerLink {
  font-size: $font-size-xs;
  color: $color-text-muted;
  cursor: pointer;
  padding-right: $spacing-md;
  border-right: 1px solid $color-text-muted;

  &:last-child {
    border-right: none;
    padding-right: 0;
  }

  &:hover {
    text-decoration: underline;
  }
}