@use '@/styles/abstracts' as *;


// ── Footer ───────────────────────────────
.footer {
  @include flex-center;
  padding: $spacing-md $spacing-xl;
}

.footerNav {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-xs $spacing-md;
}

.footerLink {
  font-size: $font-size-xs;
  color: $color-text-muted;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}